* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff8f0;
  color: #2c2c2c;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.nav-link {
  color: black;
  transition: transform 0.1s ease-in-out;
}

.nav-link:hover {
  color: #dc3545;
  transform: scale(1.05);
}

.nav-link:active {
  color: #dc3545;
}

.top-fix {
  margin-top: 6rem;
}

.active-category {
  color: #dc3545 !important;
  font-weight: bold;
}


.custom-card {
  background-color: #fff;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.custom-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.card-title {
  font-weight: 600;
}

.btn-warning {
  background-color: #ffc107;
  border: none;
}

.btn-warning:hover {
  background-color: #ff9800;
}

.github-icon-link {
  position: relative;
  display: flex;
  align-items: center;
  margin-left: 1rem;
}

.github-icon {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}

.github-icon:hover {
  transform: scale(1.2);
}

.custom-tooltip .tooltip-text {
  visibility: hidden;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 4px 8px;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  bottom: -35px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 12px;
  white-space: nowrap;
  opacity: 0;
  transition: opacity 0.1s ease;
}

.custom-tooltip:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}

.custom-spinner {
  width: 3rem;
  height: 3rem;
  border: 5px solid #f3f3f3;
  border-top: 5px solid #dc3545;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin: auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}